
#background{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    z-index: 99999;
  }
  
  #logocontainer{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 24vh;
    height: 24vh;
    margin-left: -12vh;
    margin-top: -13vh;
    overflow: hidden;
    transition: background-color 500ms;
    cursor: pointer;
    z-index: 99999;
  }
  
  #pelogo{
    display: block;
    position: absolute;
    left: 2vh;
    top: 2vh;
    width: 20vh;
    height: 20vh;
    /* background: #34324b; */
    /* background: linear-gradient(135deg, #ffffff 0%, #ff864338 100%); */
    background-size: contain;
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
    color: #3ebffa;
    text-align: center;
    line-height: 14vh;
  }
  