.AdvancedFilter {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.45);
    z-index: 1050;
    transition-property: opacity, visibility;
    transition-duration: .15s;
    transition-timing-function: linear;
    &:not(.active) {
        opacity: 0;
        visibility: hidden;
    }
    .closefilter{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;z-index: -1;
    }
    .AdvancedFilter-modal {
        width: 100%;
        max-width: 32rem;
        height: 100%;
        position: absolute;
        right: 0px;
        transform: translate(32rem, 0px);
        box-shadow: -6px 0 16px -8px rgb(0 0 0 / 8%), -9px 0 28px 0 rgb(0 0 0 / 5%), -12px 0 48px 16px rgb(0 0 0 / 3%);
        transition: transform .3s ease-out;
        .AdvancedFilter-content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            position: relative;
            background-color: #fff;
            background-clip: padding-box;
            border: 0;
            overflow: auto;
            z-index: 1;
        }
        .AdvancedFilter-header {
            position: sticky;
            top: 0px;
            left: 0px;
            width: 100%;
            padding: 0.875rem 1rem;
            background: $light-warning;
            border-bottom: 1px solid $border-light-3;
            display: -moz-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 99;
            .close {
                width: 100%;
                max-width: 26px;
                height: 26px;
                line-height: 26px;
                border: 1px solid $color-dark;
                border-radius: 3px;
                text-align: center;
                font-size: 14px;
                cursor: pointer;
                &:hover {
                    border-color: $color-danger;
                    color: $color-danger;
                }
            }
        }
        .AdvancedFilter-body {
            -moz-box-flex: 1;
            flex-grow: 1;
            word-wrap: break-word;
        }
    }
    &.active {
        .AdvancedFilter-modal {
            transform: none;
        }
    }
}

// Filter Form Css
.dynamic-form {
    > .row {
        > div {
            margin-bottom: 8px;
        }
    }
    .label {
        font-size: 13px;
        line-height: 20px;
        font-weight: 600;
        margin-bottom: 4px;
        text-transform: capitalize;
    }
    .form-control {
        width: 100%;
        min-height: 36px;
        padding: 6px 10px;
        border-color: $border-light-2;
        border-radius: 4px;
        font-size: 12px;
        box-shadow: none;
        outline: none;
        &:focus {
            box-shadow: none;
            outline: none;
            border-color: $border-light-2;
        }
    }
    .invalid-feedback, .valid-feedback {
        font-size: 12px;
    }
}

// Member Advanced Filter
.member_advancedFilter {
    .dietupdate {
        .radio-item {
            margin-bottom: 12px;
            .form-radio {
                position: relative;
                input[type=radio] {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 3px;
                    left: 2px;
                    visibility: hidden;
                }
                label {
                    position: relative;
                    padding-left: 28px;
                    font-size: 14px;
                    font-weight: 600;
                    cursor: pointer;
                    &::before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        border-radius: 50px;
                        border: 1px solid;
                    }
                    &:after {
                        content: '';
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        border-radius: 50px;
                    }
                    &[for=green] {
                        &::before {
                            border-color: $badge-green;
                        }
                        &:after {
                            background: $badge-green;
                        }
                    }
                    &[for=yellow] {
                        &::before {
                            border-color: $dark-warning;
                        }
                        &:after {
                            background: $dark-warning;
                        }
                    }
                    &[for=red] {
                        &::before {
                            border-color: $color-danger;
                        }
                        &:after {
                            background: $color-danger;
                        }
                    }
                    &[for=black] {
                        &::before {
                            border-color: $color-dark;
                        }
                        &:after {
                            background: $color-dark;
                        }
                    }
                }
                input[type=radio]:checked ~ label {
                    &::after {
                        width: 14px;
                        height: 14px;
                        top: 3px;
                        left: 3px;
                    }
                }
            }
        }
    }
}

// custom ng-select validation classs add 
.custom-invalid-ng-select.ng-select .ng-select-container {
    border: 1px solid #dc3545 !important; 
}
.custom-invalid-ng-select.ng-select .ng-arrow-wrapper { 
    position: relative;
    height: 25px;
    &:after {
        content: "";
        position: absolute;
        top: 4px;
        right: -2px;
        width: 100%;
        height: 100%;
        background: no-repeat;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    }
    .ng-arrow {
        display: none;
    }
}
.valid-custom-ng-select.ng-select .ng-select-container {
    border: 1px solid #198754 !important;
}
.valid-custom-ng-select.ng-select .ng-arrow-wrapper { 
    position: relative;
    height: 25px;
    &:after {
        content: "";
        position: absolute;
        top: 4px;
        right: -2px;
        width: 100%;
        height: 100%;
        background: no-repeat;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    }
    .ng-arrow {
        display: none;
    }
}