@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/icomoon/#{$icomoon-font-family}.eot?dpct0m');
  src:  url('#{$icomoon-font-path}/icomoon/#{$icomoon-font-family}.eot?dpct0m#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon/#{$icomoon-font-family}.ttf?dpct0m') format('truetype'),
    url('#{$icomoon-font-path}/icomoon/#{$icomoon-font-family}.woff?dpct0m') format('woff'),
    url('#{$icomoon-font-path}/icomoon/#{$icomoon-font-family}.svg?dpct0m##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-white-plus {
  &:before {
    content: $icon-white-plus;
  }
}
.icon-icon-arrow-left {
  &:before {
    content: $icon-icon-arrow-left;
  }
}
.icon-icon-arrow-right {
  &:before {
    content: $icon-icon-arrow-right; 
  }
}




