.listing-show {
    height: 100px;
    overflow-y: auto;
    padding: 8px;
    border: 1px solid #dee2e6;
    border-radius: 5px;

    ul {
        margin: 0px;
        padding: 0px;

        li {
            span {
                font-weight: 700;
            }

            font-size: 12px;
        }
    }
}