<div class="auth-module">
    <div class="container-fluid">
        <div class="row not-found-page">
            <div class="col-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-xl-3 mx-auto">
                        <div class="w-100 d-flex justify-content-center align-items-center position-relative">
                            <div class="position-absolute z-index-1">
                                <img src="../../assets/images/auth/mobile-user.png" alt="mobile-user" class="img-fluid">
                            </div>
                            <div class="not-found-wrap text-center position-relative z-index-3">
                                <h1 class="text-60">
                                    Oops!
                                </h1>
                                <p class="text-36 subheading mb-3">401 - Unauthorized PAGE</p>
                                <p class="mb-5  text-muted text-18">Sorry! The page you are looking for doesn't Unauthorized.</p>
                                <button class="btn text-white btn-primary" (click)="backbutton()">Go back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>