.header {
    .logo-container {
        .logo {
            width: 78px;
            @include media-breakpoint-up(md) {
                width: 95px;
            }
        }
    }
    .menus {
        .navbar-nav {
            @include media-breakpoint-up(md) {
                &::before {
                    content: '';
                    width: 1px;
                    height: 50%;
                    background: $border-light-5;
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%);
                }
            }
            .nav-item {
                .nav-link {
                    color: $color-white;
                    padding: 14px 16px;
                    font-size: 14px;
                    @include media-breakpoint-up(md) {
                        border-bottom: 3px solid transparent;
                        &.active {
                            border-bottom-color: $primary;
                            color: $primary;
                        }
                    }
                    @include media-breakpoint-up(md) {
                        padding: 14px 8px;
                        font-size: 12px;
                    }
                    @include media-breakpoint-up(lg) {
                        padding: 16px 10px;
                        font-size: 13px;
                    }
                    @include media-breakpoint-up(xl) {
                        padding: 18px 16px;
                        font-size: 14px;
                    }
                    &.dropdown-arrow {
                        &::after {
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            font-size: 10px;
                            content: "\f078";
                            display: inline-block;
                            margin-left: 4px;
                            @include media-breakpoint-down(md) {
                                display: none;
                            }
                        }
                    }
                    &:hover {
                        color: $primary;
                    }
                }
                .dropdown-menu {
                    background-color: rgb(37, 51, 66);
                    .dropdown-item {
                        color: $color-white;
                        padding: 8px 16px;
                        &:hover {
                            color: $primary;
                        }
                    }
                }
                @include media-breakpoint-up(md) {
                    &:hover {
                        .dropdown-menu {
                            display: block;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(md) {
            &.navbar-collapse {
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0px;
                background: $cyan-blue;
                border-top: 1px solid $border-light-5;
            }
        }
    }
    .header-right {
        .options {
            li {
                .dropdown-arrow {
                    position: relative;
                    &::after {
                        font-family: "Font Awesome 5 Free";
                        content: "\f078";
                        font-weight: 900;
                        font-size: 10px;
                        color: $color-white;
                        position: absolute;
                        top: 50%;
                        right: -12px;
                        transform: translateY(-50%);
                    }
                }
                .search-wrap {
                    .input-field {
                        width: 250px;
                        outline: none;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;
                    }
                }
                .emp-listing {
                    li {
                        &:hover {
                            background: $light-gray-v2;
                        }
                    }
                    .avatar {
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        color: $color-white;
                        background: $cyan-blue;
                    }
                    .action-btn {
                        a {
                            width: 35px;
                            height: 35px;
                            line-height: 35px;
                            &:hover {
                                background: $border-light-4;
                            }
                        }
                    }
                }
                &.dropdown {
                    .dropdown-menu {
                        left: auto;
                        right: 0px;
                        top: calc(100% + 6px);
                        &.dropdown-lg {
                            width: 320px;
                        }
                    }
                }
            }
        }
    }
}