// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
@import "~ngx-toastr/toastr";
@import "~viewerjs/dist/viewer.css";
// @import "~ng-pick-datetime/assets/style/picker.min.css";
// @import "../node_modules/angular-calendar/css/angular-calendar.css";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$admin-panel-primary: mat.define-palette(mat.$indigo-palette);
$admin-panel-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$admin-panel-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$admin-panel-theme: mat.define-light-theme(
  (
    color: (
      primary: $admin-panel-primary,
      accent: $admin-panel-accent,
      warn: $admin-panel-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($admin-panel-theme);

/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/main.scss";

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

// Mat input color changed css
.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
.mat-form-field.mat-focused .mat-form-field-label,
.mat-form-field-label {
  color: $primary;
}
.mat-form-field.mat-form-field-invalid.mat-focused .mat-form-field-label {
  caret-color: #f44336;
}

.toast-container {
  position: fixed !important;
}

.timepicker-overlay {
  z-index: 99999 !important;
}

.is-invalid {
  border-color: #dc3545 !important;
}

.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}
.toast-container .ngx-toastr {
  width: 360px !important;
}
.toast-message {
  font-size: 14px !important;
}

.no-spinners {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.mat-tab-label,
.mat-tab-link {
  color: $primary;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $primary;
}

// side tab changed css
.mat-tab-header-pagination {
  z-index: inherit !important;
}
