.single-plan-v2 {
    .table {
        thead {
            tr {
                th {
                    font-size: 14px;
                    color: $dark-gray;
                    font-weight: 600;
                    border-bottom: 1px solid $border-light-4;
                    padding-bottom: 16px;
                    &:first-child {
                        border-bottom: none;
                    }
                }
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid $border-light-4;
                th {
                    font-size: rem(16);
                    line-height: rem(22);
                    color: $color-dark;
                    font-weight: 500;
                    border-right: 1px solid $border-light-4;
                }
                td {
                    border-right: 1px solid $border-light-4;
                    &:last-child{
                        border-right: none;
                    }
                }
                // &:nth-child(2n + 1) {
                //     border-bottom: none;
                // }
                &:last-child {
                    td {
                        &:not(:first-child) {
                            border-bottom: 1px solid $border-light-4;
                        }
                    }
                }
            }
            tr {
                &.plan-type {
                    transform: translateY(-13px);
                    border-bottom: none;
                    .status {
                        min-width: 62px;
                        background: $color-green;
                        padding: 3px 10px;
                        &.draft {
                            background: $color-dark;
                        }
                        &.local {
                            background-color: $color-danger;
                        }
                        &.No_Exercise {
                            background-color: $dark-gray-v2;
                        }
                    }
                }
            }
        }
        .plan-card {
            width: 100%;
            min-width: 178px;
            border-radius: 5px;
            .card-footer {
                border-top: 1px dashed $border-light-2;
                border-radius: 0px 0px 5px 5px;
                padding: 5px;
            }
        }
        .plan-tray {
            width: 100%;
            min-width: 178px;
        }
    }
}