.payment-details {
    ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 12px;
        column-gap: 12px;
        li {
            position: relative;
            flex: 0 0 165px;
            background: $color-white;
            border-radius: 3px;
            padding: 10px;
            box-shadow: 0px 3px 0px rgb(255 134 67 / 10%);
            font-size: rem(14);
            display: flex;
            cursor: pointer;
            z-index: 1;
            transition: 0.3s ease-in-out;
            @include media-breakpoint-down(xxl) {
                flex: 0 0 150px;
                font-size: rem(12);
                padding: 8px 10px;
            }
            @include media-breakpoint-down(md) {
                flex: 0 0 calc(100% / 3 - 8px);
            }
            @include media-breakpoint-down(sm) {
                flex: 0 0 100%;
                padding: 8px;
                font-size: 13px;
            }
            .icon {
                margin-right: 10px;
                font-size: 18px;
                color: $primary;
            }
            .details {
                .label {
                    color: $dark-gray;
                }
            }
            // &::before, &::after {
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     bottom: 0;
            //     left: 0;
            //     transition: 0.3s ease-in-out;
            //     z-index: -1;
            // }
            // &::before {
            //     right: -50px;
            //     border-right: 50px solid transparent;
            //     border-bottom: 80px solid $primary;
            //     transform: translateX(-100%);
            // }
            // &::after {
            //     left: -50px;
            //     border-left: 50px solid transparent;
            //     border-top: 80px solid $primary;
            //     transform: translateX(100%);
            // }
            &:hover {
                background: $primary;
                // &::before {
                //     transform: translateX(-49%);
                // }
                // &::after {
                //     transform: translateX(49%);
                // }
                .icon {
                    color: $color-white;
                }
                .details {
                    .label, .value {
                        color: $color-white;
                    }
                }
            }
        }
    }
}